{{> closePanel}}

<h2>{{{i18n "panel_room_title"}}}</h2>

<div class="tabs"> 
  <div class="tab selected" data-body="tab-room-info">{{{i18n "panel_room_tab_info"}}}</div>
  <div class="tab" data-body="tab-room-objects">{{{i18n "panel_room_tab_objects"}}}</div>
  <div class="tab" data-body="tab-room-style">{{{i18n "panel_room_tab_style"}}}</div>
</div>

<div class="tab-body" id="tab-room-info">
  <id-input class="js-name" data-label="{{{i18n "panel_room_tab_info_name"}}}"></id-input>
  <in-input class="js-subtitle" data-label="{{{i18n "panel_room_tab_info_subtitle"}}}"></in-input>
  <id-check class="js-dark" data-label="{{{i18n "panel_room_tab_info_dark"}}}"></id-check>
  <id-check class="js-startroom" data-label="{{{i18n "panel_room_tab_info_start"}}}"></id-check>
  <id-check class="js-endroom" data-label="{{{i18n "panel_room_tab_info_end"}}}"></id-check>
  <id-shape class="js-shape" data-label="{{{i18n "panel_room_tab_info_shape"}}}"></id-shape>
  <id-range class="js-rounding" data-min="0" data-max="100" data-label="{{{i18n "panel_room_tab_info_rounding"}}}">
  </id-range>
  <id-textarea class="js-description" data-label="{{{i18n "panel_room_tab_info_description"}}}"></id-textarea>
</div>

<div class="tab-body" id="tab-room-objects">
  <div class="js-object-list"></div> 
  <div style="display: flex; justify-content: flex-end; margin-top: 10px">
    <button class="btn btn-primary js-add-object">{{{i18n "panel_room_tab_objects_add_button"}}}</button>
  </div>
</div>

<div class="tab-body" id="tab-room-style">
  <id-linestyle class="js-linestyle" data-none="true" data-label="{{{i18n "panel_room_tab_style_border"}}}"></id-linestyle>
  <id-range class="js-linewidth" data-min="1" data-max="10"></id-range>
  <label>{{{i18n "panel_room_tab_style_colors"}}}</label>
  <div style="display: flex">
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <id-popup title="{{{i18n "panel_room_tab_style_colors_fill"}}}" class="colortype selected" data-type="fill">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-fill"></use></svg>
      </id-popup>
      <id-popup title="{{{i18n "panel_room_tab_style_colors_border"}}}" class="colortype" data-type="border">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-border"></use></svg>
      </id-popup>
      <id-popup title="{{{i18n "panel_room_tab_style_colors_name"}}}" class="colortype" data-type="name">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-name"></use></svg>
      </id-popup>
      <id-popup title="{{{i18n "panel_room_tab_style_colors_subtitle"}}}" class="colortype" data-type="subtitle">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-subtitle"></use></svg>
      </id-popup>
    </div>
    <id-colorpicker class="js-color"></id-colorpicker>
  </div>
</div>
