{{> closePanel}}

<h2>{{{i18n "map_settings_title"}}}</h2>

<div class="tabs"> 
  <div class="tab selected" data-body="tab-map-info">{{{i18n "map_settings_tab_info"}}}</div>
</div> 

<div class="tab-body" id="tab-map-info">
  <id-input class="js-title" data-label="{{{i18n "map_settings_tab_info_name"}}}"></id-input>
  <id-input class="js-author" data-label="{{{i18n "map_settings_tab_info_author"}}}"></id-input>
  <id-input class="js-version" data-label="{{{i18n "map_settings_tab_info_version"}}}"></id-input>
  <id-textarea class="js-description" data-label="{{{i18n "map_settings_tab_info_description"}}}"></id-textarea>
</div>
