<input id="inputLoad" type="file" style="display:none" accept=".json">
<input id="inputImport" type="file" style="display:none" accept=".trizbort">

<div class="menuitem">
  <a href="#" id="menu-new"><svg class="icon small"><use xlink:href="dist/icons.svg#map"></use></svg> {{{i18n "new_map_title"}}}</a>
</div>
<div class="menuitem">
  <a href="#" id="menu-load"><svg class="icon small"><use xlink:href="dist/icons.svg#open"></use></svg> {{{i18n "load_map_title"}}}</a>
</div>    
<div class="menuitem">
  <a href="#" id="menu-import"><svg class="icon small"><use xlink:href="dist/icons.svg#open"></use></svg> {{{i18n "import_map_title"}}}</a>
</div>    
<div class="menuitem">
  <a href="#" id="menu-save"><svg class="icon small"><use xlink:href="dist/icons.svg#save"></use></svg> {{{i18n "save_map_title"}}}</a>
</div>
<div class="menuitem">
  <a href="#" id="menu-image"><svg class="icon small"><use xlink:href="dist/icons.svg#scenery"></use></svg> {{{i18n "save_image_title"}}}</a>
</div>
<div class="menuseparator"></div>
<div class="menuitem">
  <a href="#" id="menu-map"><svg class="icon small"><use xlink:href="dist/icons.svg#settings"></use></svg> {{{i18n "map_settings_title"}}}</a>
</div>
<div class="menuitem">
  <a href="#" id="menu-render"><svg class="icon small"><use xlink:href="dist/icons.svg#paintbrush"></use></svg> {{{i18n "render_settings_title"}}}</a>
</div>
<div class="menuitem">
  <a href="#" id="menu-help"><svg class="icon small"><use xlink:href="dist/icons.svg#help"></use></svg> Keyboard help</a>
</div>
<div class="menuseparator"></div>
<div class="menuitem">
  <a href="#" id="menu-export"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> {{{i18n "export_map_title"}}}</a>
  <div class="menuitem">
    <a href="#" id="menu-export-middangeard1"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Middangeard 1</a>
  </div>
  <div class="menuitem">
    <a href="#" id="menu-export-tads"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> TADS</a> 
  </div>
  <div class="menuitem">
    <a href="#" id="menu-export-inform7"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Inform 7</a> 
  </div>  
  <div class="menuitem">
    <a href="#" id="menu-export-alan2"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Alan 2</a> 
  </div>  
  <div class="menuitem">
    <a href="#" id="menu-export-alan3"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Alan 3</a> 
  </div>  
  <div class="menuitem">
    <a href="#" id="menu-export-quest"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Quest</a> 
  </div>  
  <div class="menuitem">
    <a href="#" id="menu-export-textadventurejs"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> TextAdventure.js</a> 
  </div>
  <div class="menuitem">
  <a href="#" id="menu-export-yaml"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> YAML</a>
  </div>       
  <div class="menuitem">
    <a href="#" id="menu-export-zil"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> ZIL</a> 
  </div>
</div>